.modification {
	align-items:     center;
	color:           #FFF;
	display:         flex;
	font-family:     "Minecraft", sans-serif;
	height:          89vh;
	justify-content: center;
	margin:          auto 0;
	width:           40vw;
}

.modification-label {
	color:        #FFF;
	flex-shrink:  0;
	font-family:  "Minecraft", sans-serif;
	font-size:    2rem;
	margin-right: 1rem;
}

.modification-input {
	color:       #FFF;
	flex-grow:   1;
	font-family: "Minecraft", sans-serif;
	width:       100%;
}

.modification-input-block {
	display:         flex;
	justify-content: center;
	margin-bottom:   1vh;
	width:           100%;
}

.modification-input-wrapper {
	align-items:     center;
	display:         flex;
	justify-content: center;
	margin-bottom:   1rem;
	width:           100%;
}

.modification-input-wrapper .modification-label {
	flex:       1;
	text-align: right;
}

.modification-input-wrapper .modification-input {
	flex:       1;
	text-align: left;
}

.modification-button {
	display:         flex;
	justify-content: center;
	width:           100%;
}