.accounts-page {
	display:         flex;
	flex-direction:  column;
	justify-content: center;
	margin:          0 auto;
	width:           40vw;
}

.accounts-title {
	color:         #DDD;
	font-family:   "Minecraft", sans-serif;
	font-size:     3rem;
	height:        5vh;
	margin-bottom: 1vh;
	text-align:    center;
}

.account {
	align-items:      center;
	background-color: rgba(0, 0, 0, 0.4);
	display:          flex;
	flex-direction:   column;
	height:           80vh;
	justify-content:  center;
	margin:           1vh 0;
}

.account-information {
	align-items:    center;
	display:        flex;
	flex-direction: column;
}

.account-buttons {
	display: flex;
	gap:     2vw;
	height:  5vh;
}