.admin-page {
	display:         flex;
	flex-direction:  column;
	justify-content: center;
	margin:          0 auto;
	width:           40vw;
}

.admin-title {
	color:         #DDD;
	font-family:   "Minecraft", sans-serif;
	font-size:     3rem;
	height:        5vh;
	margin-bottom: 1vh;
	text-align:    center;
}

.admin {
	align-items:      center;
	background-color: rgba(0, 0, 0, 0.4);
	display:          flex;
	flex-direction:   row;
	height:           80vh;
	justify-content:  space-evenly;
	margin:           1vh 0;
}

.admin-menu {
	height:     70vh;
	overflow-y: auto;

	> * {
		margin: 3vh auto;
	}
}

.admin-buttons {
	display: flex;
	gap:     2vw;
	height:  5vh;
}

.admin-tickets-page {
	display:         flex;
	flex-direction:  column;
	justify-content: center;
	margin:          0 auto;
	width:           80vw;
}

.admin-tickets-list {
	height:     70vh;
	overflow-y: auto;

	> * {
		margin: 3vh auto;
	}
}

.admin-ticket-display {
	background-color: #000;
	border:           3px solid white;
	box-shadow:       none;
	color:            #FFF;
	font-family:      'Minecraft', sans-serif;
	font-size:        1.5em;
	height:           65vh;
	padding:          20px;
	position:         relative;
	text-align:       left;
	width:            50%;
}

.admin-ticket-element {
	align-content: center;
	display:       flex;
}

.admin-ticket-elements .McButtons {
	display: inline-block;
}

.ticket-margin-resize {
	margin-bottom: 5px !important;
	margin-top:    5px !important;
}

.admin-ticket-detail {
	align-items:     center;
	display:         flex;
	flex-direction:  row;
	justify-content: left;

	> * {
		margin-right: 2vh;
	}
}

.admin-ticket-body {
	display:        flex;
	flex-direction: column;
	justify-items:  start;
	margin-top:     10px;

	> textarea {
		border:     none;
		font-size:  1em;
		margin:     auto;
		resize:     none;
		text-align: left;
		width:      100%;
	}
}

.admin-tickets-buttons {
	bottom:   20px;
	display:  flex;
	position: absolute;
}