@font-face {
	font-family: "minecraft";
	src:         url("../font/minecraft.otf")
}

.mc-button.btn-taille-square .title {
	padding: 0;
}

.mc-button {
	background:      #999 url("https://i.ibb.co/rb2TWXL/bgbtn.png") center/cover;
	border:          2px solid #000;
	cursor:          pointer;
	image-rendering: pixelated;
	overflow:        hidden;
	user-select:     none;
	white-space:     nowrap;
}

.mc-button:hover .title {
	background-color: rgba(100, 100, 255, 0.45);
	color:            #FFFFA0;
	text-shadow:      2px 2px #202013CC;
}

.mc-button:active .title {
	box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

.mc-button .title {
	align-items:     center;
	box-shadow:      inset -2px -4px #0006, inset 2px 2px #FFF7;
	color:           #DDD;
	display:         flex;
	font-family:     "Minecraft", sans-serif;
	font-size:       2rem;
	height:          100%;
	justify-content: center;
	padding-bottom:  0.3em;
	padding-top:     0.3em;
	text-shadow:     2px 2px #000A;
	width:           100%;
}

.mc-button.lang img {
	height: 26px;
	width:  26px;
}

.mc-button.lang .title {
	padding-bottom: 0;
}

.mc-button.disabled {
	/* Vos styles pour le bouton désactivé ici */
	cursor:  not-allowed;
	opacity: 0.5;
}