.home {
	background-color: rgba(0, 0, 0, 0.2);
	display:          block;
	height:           90vh;
	margin:           0 auto;
	padding-top:      10vh;
	width:            40vw;
}

.home-logo {
	margin-bottom: 20px;
}

.home-logo img {
	height:              auto;
	max-width:           100%;
	-webkit-user-drag:   none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	-webkit-user-select: none;
	user-select:         none;
}

.home-buttons {
	margin: 1vw;

	> * {
		margin-bottom: 1vh;
	}
}

.home-buttons-dual {
	display: flex;

	> *:first-child {
		margin-right: 0.5vw;
	}
}

.home-page.html-bg-1 {
	background: url("../img/Home1.png");
}

.home-page.html-bg-2 {
	background: url("../img/Home2.png");
}

.home-page.html-bg-3 {
	background: url("../img/Home3.png");
}

.home-page.html-bg-4 {
	background: url("../img/Home4.png");
}

.home-page.html-bg-5 {
	background: url("../img/Home5.png");
}

.home-page.html-bg-6 {
	background: url("../img/Home6.png");
}

.home-page.html-bg-7 {
	background: url("../img/Home7.png");
}

.home-page.html-bg-8 {
	background: url("../img/Home8.png");
}

.home-page.html-bg-9 {
	background: url("../img/Home9.png");
}

.home-page.html-bg-10 {
	background: url("../img/Home10.png");
}

.home-page.html-bg-11 {
	background: url("../img/Home11.png");
}

.home-page.html-bg-1,
.home-page.html-bg-2,
.home-page.html-bg-3,
.home-page.html-bg-4,
.home-page.html-bg-5,
.home-page.html-bg-6,
.home-page.html-bg-7,
.home-page.html-bg-8,
.home-page.html-bg-9,
.home-page.html-bg-10,
.home-page.html-bg-11 {
	background-attachment: fixed;
	background-position:   center;
	background-repeat:     no-repeat;
	background-size:       cover;
}